<div class="bannerCategory">
    <div class="container">
        <div class="bannerCarouselCategories ">
            <div id="carouselBanner" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselBanner" data-slide-to="0"
                        class="active"></li>
                  
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      
                        <a href="" title="Đồ gỗ gia bảo" target="_blank">
                            <div class="fill h135"
                                 style="background-image: url('/Template/images/banner1.png')"></div>
                        </a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>

