<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="angular.min.js"></script>
</head>
<body>
    <!--<div ng-app="" ng-init="fristname='tu'">
        <input ng-model="name" type="text"/>
        <h1 ng-bind="fristname"></h1>
    </div>-->

    <div ng-app="myApp" ng-controller="myCtr">
        <input ng-model="fname" type="text" />
        <input ng-model="lname" type="text" />
        Example2<h1>{{fname + " " + lname}}</h1>
    </div>
   <script>var app = angular.module('myApp', []);
       app.controller("myCtr", function ($scope) {
           $scope.fname = 'tu';
           $scope.lname = 'nguyen';
       })
    </script>
</body>
</html>
