@model AdminGold.Models.web_vangia_category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sửa danh mục sản phẩm</h1>
    </div>

</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("EditCategory", "WebDoGo", FormMethod.Post))
                {
                    @Html.Partial("_inputCategory")
                    <div class="row">
                        <div class="col-lg-6 text-right">
                            <button type="submit" id="submitbutton" class="btn btn-primary">Lưu</button>

                            <a href="@Url.Action("IndexCategory","WebDoGo")" class="btn btn-primary">Hủy</a>
                        </div>
                        <div class="col-lg-6 text-left">

                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
</div>
<script>

    $("#submitbutton").on('click', function (e) {
        e.preventDefault();
        bootbox.confirm("Lưu", function (isOK) {
            if (isOK) {
                $('#submitbutton').parents("form").submit();
            }
        });
    });
</script>
