

<style>
    .container table tr td {
        font-size: 35px;
    }

    .streamingcontent {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .bxslider div, .bxslider div img {
        width: 100%;
    }

    .divvideo div {
        width: 100%;
        height: 100%;
    }

    .carlist tr td:first-child {
        color: #5d0600;
    }

    .carlist tr td:last-child {
        color: #008000;
    }
</style>
<div class="left">
    
    <div>
        <table class="carlist">
            <thead>
                <tr>
                    <th class="leftcolumnname">WORK IN PROGRESS</th>
                    <th>READY FOR COLLECTION</th>
                </tr>
            </thead>

            <tbody>
               
                    <tr>
                        <td>
                           2222222222
                        </td>
                        <td>
                           111111111111111
                        </td>
                    </tr>
               
            </tbody>
        </table>
    </div>
</div>
<div class="right">
    <div class="divvideo" style="width: 100%; height: 100%;">
      
            <div class="streamingcontent">
                <div class="streamingwrap">
                    <div class="streamvid">
                        <div class="embed-container">
                            <div id='ooyalaplayer'></div>
                            <script src='https://player.ooyala.com/v3/711d64d15d67413bba2b09f41474a8f8'></script>
                            <noscript><div>Please enable Javascript to watch this video</div></noscript>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>
<div class="bottom">
    <div class="news" style="width: 10%; background: #000;font-size: 30px;height: 100%;">
        <span style="margin-top: 20px;">News</span>
    </div>
    <div class="news" style="font-size: 52px;width: 80%;">
        <div class='marquee' style="padding-top: 5px;">Content</div>
    </div>
    <div class="news" style="width: 10%;text-align: center;">
        <img src="" style="height: 60px;padding-top: 12px;" />
    </div>
</div>

<style type="text/css">
    .marquee,
    .marquee-with-options,
    .marquee-vert-before,
    .marquee-vert {
        width: 100%;
        overflow: hidden;
    }
</style>


